<div class="flex flex-col gap-2 md:items-center mb-4 w-full">
    <div class="card w-full !mb-2">
        <p-toolbar>
            <ng-template #start>
                <p-button icon="pi pi-history" label="Passées" class="mr-2" severity="secondary" text />
            </ng-template>

            <ng-template #end>
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText placeholder="Numéro commande" [(ngModel)]="searchWord" (ngModelChange)="searchOrder()" />
                </p-iconfield>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="card w-full !mb-2">
        <app-order *ngFor="let order of orders()" [order]="order"></app-order>
        <p-paginator
            #paginator
            (onPageChange)="loadOrders($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="count"
            [showCurrentPageReport]="true"
            [showJumpToPageDropdown]="false"
            currentPageReportTemplate="Commandes {first} à {last}, total : {totalRecords}"
        />
    </div>
</div>
