<div class="flex flex-row justify-between md:items-center flex-1 gap-6 border-t border-surface pt-4 pb-2">
    <div class="flex flex-row justify-between items-center gap-4">
        <i class="pi" [ngClass]="address().addressType ?? 0 | adresseImage" style="font-size: 2.5rem"></i>
        <div>
            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ address().streetNumber }} {{ address().street }} </span>
            <div class="text-sm font-medium">{{ address().streetLine2 }}</div>
            <div class="text-sm font-bold">{{ address().postalCode }}, {{ address().city }}</div>
        </div>
    </div>

    <div class="flex flex-row gap-4 items-center h-auto pr-2" *ngIf="canEdit()">
        <p-button icon="pi pi-trash" severity="danger" [outlined]="true" type="button" (onClick)="visibleModalDelete.set(true)"></p-button>
        <p-button icon="pi pi-pencil" severity="info" [outlined]="true" (onClick)="open()"></p-button>
    </div>
</div>

<app-modal-add-or-edit-address *ngIf="visibleRight()" [updateOrAdd]="'update'" [(visibleRight)]="visibleRight" (onClose)="close()" [adresseTochange]="address()"></app-modal-add-or-edit-address>
<app-modal-confirm-delete
    *ngIf="visibleModalDelete()"
    [(visible)]="visibleModalDelete"
    [title]="'Adresse à ' + address().city"
    (onDeleteConfirmed)="deleteAddress()"
    [question]="'vous êtes sûr de vouloir supprimer cette adresse?'"
></app-modal-confirm-delete>
