<div class="card !p-4 flex flex-col items-center gap-2 md:flex-row md:justify-between md:items-center mb-4">
    <div class="flex gap-2">
        <p-button class="btn-header" (onClick)="dayView()">Jour</p-button>
        <p-button class="btn-header" (onClick)="weekView()">Semaine</p-button>
        <p-button class="btn-header" (onClick)="monthView()">Mois</p-button>
    </div>
    <div class="flex gap-2">
        <p-button (onClick)="getToday()">Aujourd'hui</p-button>
        <p-button (onClick)="prev()" class="control-btn" icon="pi pi-angle-left"> </p-button>
        <p-button (onClick)="next()" class="control-btn" icon="pi pi-angle-right"> </p-button>
    </div>
</div>
<div class="card calendar">
    <full-calendar [options]="calendarOptions" #calendar [events]="visibleEvents()">
        <ng-template #eventContent let-arg class="custom-event">
            <div [ngClass]="['custom-event', arg.event.extendedProps?.slot?.studentId ? 'booked' : 'available', arg.event.extendedProps?.slot?.status === 0 ? 'pending' : '']">
                <ng-container *ngIf="arg.event.extendedProps?.slot?.studentId; else availableSlot">
                    <div class="event-type">
                        <span>Type : </span>
                        <span>{{ arg.event.extendedProps?.slot?.typeHelp | helpType }}</span>
                    </div>
                </ng-container>
                <p *ngIf="arg.event.title" class="event-title overflow-hidden text-ellipsis">
                    {{ arg.event.title }}
                </p>

                <ng-template #availableSlot>
                    <div class="availability-info">
                        <span>Créneau disponible</span>
                        <div class="pricing">
                            <span
                                [ngClass]="{
                                    'original-price': arg.event.extendedProps?.slot?.price !== arg.event.extendedProps?.slot?.discountedPrice,
                                    'unique-price': arg.event.extendedProps?.slot?.price === arg.event.extendedProps?.slot?.discountedPrice
                                }"
                            >
                                {{ arg.event.extendedProps?.slot?.price }} €
                            </span>
                            <span class="new-price" *ngIf="arg.event.extendedProps?.slot?.price !== arg.event.extendedProps?.slot?.discountedPrice"> {{ arg.event.extendedProps?.slot?.discountedPrice }} € </span>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </full-calendar>
</div>

<app-modal-book-or-unbook [appointment]="selectedAppoitment" [(visible)]="visibleModalBookUnbook" (onBooking)="loadSlot()" *ngIf="visibleModalBookUnbook()"></app-modal-book-or-unbook>

<!-- <app-reservation-list-by-teacher></app-reservation-list-by-teacher> -->
