<ul class="layout-menu">
    <li *ngFor="let item of model; let i = index">
        <button *ngIf="item.routerLink && item.visible !== false" class="menu-link" (click)="item.command" [routerLink]="item.routerLink[0]" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
            <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
            <span class="layout-menuitem-text">{{ item.label }}</span>
        </button>
    </li>
    <div class="last-items">
        <li>
            <button class="menu-link" [routerLink]="'/settings'" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
                <i [ngClass]="settingsItem.icon" class="layout-menuitem-icon"></i>
                <span class="layout-menuitem-text">{{ settingsItem.label }}</span>
            </button>
        </li>
        <li>
            <button class="menu-link" (click)="deconnect()" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
                <i [ngClass]="deconnecionItem.icon" class="layout-menuitem-icon"></i>
                <span class="layout-menuitem-text">{{ deconnecionItem.label }}</span>
            </button>
        </li>
    </div>
</ul>
