<ul class="layout-menu">
    <li *ngFor="let item of model; let i = index">
        <button *ngIf="item.routerLink && item.visible !== false" class="menu-link" (click)="itemClick(item)" [ngClass]="item.styleClass" [routerLink]="item.routerLink[0]" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
            <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
            <span class="layout-menuitem-text">{{ item.label }}</span>
            <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="item.items"></i>
        </button>
    </li>
</ul>
