.card {
    border: none;
    box-shadow: none;
    background: transparent;
}

.error {
    width: 100%;
}

.text-red-500 {
    color: #ef4444;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}
