<div class="flex flex-col gap-2 md:items-center mb-4 w-full">
    <div class="card w-full">
        <div class="font-semibold text-xl mb-4">Mes commandes</div>
        <p-toolbar>
            <ng-template #start>
                <p-button icon="pi pi-play" label="En cours" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-history" label="Passées" class="mr-2" severity="secondary" text />
                <p-button icon="pi pi-delete-left" label="Annulées" severity="secondary" text />
            </ng-template>

            <ng-template #end>
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText placeholder="Numéro commande" />
                </p-iconfield>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="w-full flex flex-col gap-2" *ngIf="currentOrder() && currentOrder().bookings">
        <app-order-current [currentOrder]="currentOrder()"></app-order-current>
        <!-- <app-card-item-order *ngFor="let booking of currentOrder().bookings" [booking]="booking" [orderNumber]="currentOrder().orderNumber" [orderStatus]="currentOrder().status"></app-card-item-order> -->
    </div>
</div>

<app-orders-history></app-orders-history>
