<div class="flex items-center py-2 border-b border-surface link" [ngClass]="!notification().isRead ? 'is-not-read' : ''" (click)="onClickNotification($event)">
    <div class="w-12 h-12 flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-full mr-4 shrink-0 ml-2">
        <i [ngClass]="'!text-xl text-green-500 pi ' + (notification().type | notifcationType)"></i>
    </div>
    <span class="text-surface-900 dark:text-surface-0 leading-normal" [innerHTML]="notification().description"> </span>
    <span class="text-surface-900 dark:text-surface-0 leading-normal">, {{ notification().createdAt | dateIndicator }}</span>
    <div class="ml-auto flex items-center">
        <p-button variant="text" [severity]="notification().isRead ? 'success' : 'danger'" (onClick)="updateNotificationState($event)" [pTooltip]="notification().isRead ? 'Maquer comme pas lue' : 'Maquer comme lue'" tooltipPosition="left">
            <i class="pi" [ngClass]="notification().isRead ? 'pi-check-square' : 'pi-circle-fill'"></i
        ></p-button>
    </div>
</div>
