<div class="mentions-legales-container p-2 md:p-4 lg:p-8 max-w-[1000px] mx-auto">
    <h1 class="title">Mentions Légales</h1>
    <p class="intro">Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, nous vous informons des éléments suivants :</p>

    <section class="section">
        <h2 class="section-title">Éditeur du site</h2>
        <p>
            Nom de l'entreprise : Skill Hive<br />
            Adresse : 2 Bois Charles, Clérac 17270<br />
            Téléphone : 06 35 12 45 78<br />
            Email : {{ owner().email }}<br />
            Numéro SIRET : 123-5487-985 L<br />
            Directeur de la publication : Mahdi Mcheik
        </p>
    </section>

    <section class="section">
        <h2 class="section-title">Hébergement</h2>
        <p>
            Hébergeur : Chez moi<br />
            Adresse : 2 Bois Charles, Clérac 17270<br />
            Téléphone : 06 35 12 45 78
        </p>
    </section>

    <section class="section">
        <h2 class="section-title">Conditions générales</h2>
        <p>
            L’utilisation du site implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment. Les utilisateurs du site
            skillhive.fr sont donc invités à les consulter de manière régulière. Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par notre équipe qui
            s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le site est mis à jour régulièrement par notre équipe. De la même façon, les mentions légales peuvent être modifiées à tout moment :
            elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
        </p>
    </section>

    <section class="section">
        <h2 class="section-title">Limitations de responsabilité</h2>
        <p>
            Nous ne pourrons pas être tenus responsables des dommages directs et indirects causés au matériel de l’utilisateur lors de l’accès au site et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au
            point 4, soit de l’apparition d’un bug ou d’une incompatibilité. Des espaces interactifs (comme les réseaux sociaux) sont à la disposition des utilisateurs. Notre équipe se réserve le droit de supprimer, sans mise en demeure préalable,
            tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, notre équipe se réserve également la possibilité de
            mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographique, etc ...).
        </p>
    </section>

    <section class="section">
        <h2 class="section-title">Données personnelles</h2>
        <p>
            Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression des données personnelles vous concernant. Pour exercer ce droit, veuillez nous contacter à
            l'adresse email mentionnée ci-dessus.
        </p>
    </section>

    <section class="section">
        <h2 class="section-title">Responsabilité</h2>
        <p>
            L'éditeur du site ne saurait être tenu responsable des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications
            indiquées, soit de l'apparition d'un bug ou d'une incompatibilité.
        </p>
    </section>
</div>
