<div class="flex flex-row justify-between md:items-center flex-1 gap-6 border-t border-surface pt-4 pb-2">
    <div class="flex flex-row justify-between items-center gap-2">
        <img src="https://www.citypng.com/public/uploads/preview/address-location-map-black-icon-symbol-download-png-701751694974706zcvtdkajtm.png" alt="adress" class="w-16 h-16 rounded" />
        <div>
            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ formation().title | titlecase }} </span>
            <div class="text-lg font-medium">{{ formation().company | titlecase }}</div>
            <div class="text-lg font-bold">{{ formation().startAt | date: 'MM/yyyy' }}-{{ formation().endAt | date: 'MM/yyyy' }} {{ formation().city | uppercase }}</div>
        </div>
    </div>

    <div class="flex flex-row gap-4 items-center h-auto pr-2">
        <p-button icon="pi pi-trash" severity="danger" [outlined]="true" type="button" (onClick)="visibleModalDelete.set(true)" *ngIf="canEdit()"></p-button>
        <p-button icon="pi pi-pencil" severity="info" [outlined]="true" (onClick)="open()" *ngIf="canEdit()"></p-button>
    </div>
</div>

<app-modal-edit-or-add-formation (onClose)="close()" *ngIf="visibleRight()" [formationToEdit]="formation()" [updateOrAdd]="'update'" [(visibleRight)]="visibleRight"></app-modal-edit-or-add-formation>
<app-modal-confirm-delete *ngIf="visibleModalDelete()" [(visible)]="visibleModalDelete" [title]="formation().title" (onDeleteConfirmed)="deleteFormation()"></app-modal-confirm-delete>
