<div class="flex flex-row justify-between md:items-center flex-1 gap-6 border-t border-surface pt-4 pb-2">
    <div class="flex flex-row justify-between items-center gap-4">
        <i class="pi pi-book" style="font-size: 32px"></i>
        <div>
            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ formation().title | titlecase }} </span>
            <div class="text-sm font-medium">{{ formation().company | titlecase }}</div>
            <div class="text-sm font-bold">{{ formation().startAt | date: 'MM/yyyy' }}-{{ formation().endAt | date: 'MM/yyyy' }} {{ formation().city | uppercase }}</div>
        </div>
    </div>

    <div class="flex flex-row gap-4 items-center h-auto pr-2">
        @if (canEdit()) {
            <p-button icon="pi pi-trash" severity="danger" [outlined]="true" type="button" (onClick)="visibleModalDelete.set(true)"></p-button>
        }
        <p-button icon="pi pi-pencil" severity="info" [outlined]="true" (onClick)="open()"></p-button>
    </div>
</div>

@if (visibleRight()) {
    <app-modal-edit-or-add-formation (onClose)="close()" [formationToEdit]="formation()" [updateOrAdd]="'update'" [(visibleRight)]="visibleRight"></app-modal-edit-or-add-formation>
}
@if (visibleModalDelete()) {
    <app-modal-confirm-delete [(visible)]="visibleModalDelete" [title]="formation().title ?? ''" (onDeleteConfirmed)="deleteFormation()"></app-modal-confirm-delete>
}
