<div class="flex flex-col items-center justify-center h-[80px] absolute top-0 left-0 w-full bg-[var(--primary-color)] z-[1000]">
    <app-logo [invert]="true" />
</div>

<div class="min-h-screen flex flex-col md:flex-row flex-wrap justify-center">
    <div class="lg:w-1/2 w-full p-6 left-side scrollbar-off">
        <router-outlet></router-outlet>
    </div>
    <div class="w-full lg:w-1/2 bg-indigo-100 text-center hidden lg:flex max-h-screen image-right">
        <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg')"></div>
    </div>
</div>
