<div class="card mt-4">
    <div class="flex gap-4">
        <h3>Mes adresses</h3>
        @if (canEdit()) {
            <p-button icon="pi pi-plus" (onClick)="open()"></p-button>
        }
    </div>
    @for (address of addresses(); track address.id) {
        <app-address [address]="address" [canEdit]="canEdit()"></app-address>
    }
</div>
@if (canEdit() && visibleRight()) {
    <app-modal-add-or-edit-address [updateOrAdd]="'add'" [(visibleRight)]="visibleRight" (onClose)="close()"></app-modal-add-or-edit-address>
}
