<div class="card p-4">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold text-gray-800">Reservations</h2>
        <span class="p-input-icon-left">
            <p-iconfield>
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText placeholder="Numéro commande" (input)="onGlobalFilter(dt, $event)" />
            </p-iconfield>
        </span>
    </div>

    <p-table
        #dt
        [value]="reservations()"
        [rows]="rows"
        [loading]="loading"
        [paginator]="true"
        [totalRecords]="totalRecords()"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['orderNumber', 'subject', 'studentFirstName', 'studentLastName']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [tableStyle]="{ 'min-width': '75rem' }"
        styleClass="p-datatable-sm"
    >
        <ng-template pTemplate="header">
            <tr class="bg-gray-50">
                <th class="text-left">Commande</th>
                <th class="text-left">Étudiant</th>
                <th class="text-left">Sujet</th>
                <th class="text-left">Type</th>
                <th class="text-left">Début</th>
                <th class="text-left">Fin</th>
                <th class="text-right">Prix</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservation>
            <tr class="hover:bg-gray-50">
                <td class="text-left">{{ reservation.orderNumber }}</td>
                <td class="text-left">
                    <div class="flex items-center gap-2">
                        <img [src]="reservation.studentImgUrl" class="w-8 h-8 rounded-full object-cover" [alt]="reservation.studentFirstName" onError="this.src='assets/images/default-avatar.png'" />
                        <span>{{ reservation.studentFirstName }} {{ reservation.studentLastName }}</span>
                    </div>
                </td>
                <td class="text-left">{{ reservation.subject }}</td>
                <td class="text-left">{{ reservation.typeHelp | helpType }}</td>
                <td class="text-left">{{ formatDate(reservation.startAt) }}</td>
                <td class="text-left">{{ formatDate(reservation.endAt) }}</td>
                <td class="text-right">{{ reservation.discountedPrice | currency: 'EUR' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center p-4">
                    <div class="flex flex-col items-center justify-center">
                        <i class="pi pi-calendar-times text-gray-400 text-5xl mb-2"></i>
                        <span class="text-gray-500">Aucune réservation trouvée</span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="8" class="text-center p-4">
                    <div class="flex flex-col items-center justify-center">
                        <i class="pi pi-spin pi-spinner text-primary text-5xl mb-2"></i>
                        <span class="text-gray-500">Chargement des réservations...</span>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
