<div class="card !m-0 !p-0">
    @if (detailed()) {
        <div class="flex sm:flex-row sm:items-center p-6 gap-4 justify-between">
            <span>{{ orderStatus() | orderStatus }}</span>
            <div class="flex flex-col">
                <span class="text-sm text-surface-500 dark:text-surface-400">Passée le {{ booking().startAt | date: 'd MMMM YY' }}</span>
                <span class="text-lg font-semibold">Numéro : {{ orderNumber() }}</span>
            </div>
        </div>
    }
    <div class="flex justify-center flex-row items-center justify-between w-full" [ngClass]="'border-t border-surface'">
        <div class="flex items-center justify-center gap-2 flex-row p-2 pt-2">
            @if (layoutService.isDesktop()) {
                <p-button variant="text" severity="info">
                    <i class="pi pi-list" style="font-size: 36px"></i>
                </p-button>
            }
            <div class="w-full p-0 pl-6 md:p-4">
                <div class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ booking().typeHelp! | helpType }}</div>
                <div class="text-lg font-medium mt-2">Le {{ booking().startAt | date: 'dd MMMM à H:mm' }}</div>
            </div>
        </div>
        <div class="p-0 pl-6 md:p-4 flex flex-col md:items-end gap-8 border-t md:border-t-0">
            <span class="text-xl font-semibold flex flex-row gap-2 items-end">
                <span>{{ booking().discountedPrice !== booking().price ? booking().discountedPrice + '€' : '' }}</span>
                <span [ngClass]="{ 'muted line-through text-sm  text-red-500 ': booking().discountedPrice !== booking().price }">{{ booking().price }}€</span></span
            >
            <div class="flex gap-2 justify-center pb-2">
                <p-button outlined [severity]="'danger'" icon="pi pi-trash" [label]="layoutService.isDesktop() ? 'Supprimer' : ''" (onClick)="confirmDelete.set(true)"></p-button>
                <p-button outlined [severity]="'info'" icon="pi pi-question" [label]="layoutService.isDesktop() ? 'Plus d\'infos' : ''" (onClick)="showDetails.set(true)"></p-button>
            </div>
        </div>
    </div>
</div>

<app-modal-details-reservation [reservation]="booking()" [(visible)]="showDetails" (onUnbook)="deleteReservation()"></app-modal-details-reservation>
<app-modal-confirm-delete [(visible)]="confirmDelete" question="" header="Suppression" title="Vous êtes sûr de vouloir supprimer cette résérvation?" (onDeleteConfirmed)="deleteReservation()"></app-modal-confirm-delete>
