<div class="min-h-screen flex flex-wrap justify-center">
    <div class="w-full lg:w-1/2 p-6 left-side scrollbar-off">
        <div class="mt-12 flex flex-col items-center w-full">
            <h1 class="text-2xl xl:text-3xl font-extrabold">Inscription</h1>

            <p-fluid class="flex justify-center">
                <form [formGroup]="userForm" (ngSubmit)="userForm.valid && submit()" #form="ngForm" class="w-full sm:w-4/5 mt-8 md:w-3/5">
                    <section class="mb-4">
                        <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2" RequiredAsterisk>Mot de passe</label>
                        <p-password id="password" formControlName="password" placeholder="Mot de passe" [toggleMask]="true" [fluid]="true" [feedback]="false"></p-password>
                        <div class="error" *ngIf="form.submitted && userForm.controls['password'].errors">
                            <p-message [hidden]="!userForm.controls['password'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Le mot de passe est requis</p-message>
                            <p-message [hidden]="!userForm.controls['password'].errors['minlength']" severity="error" variant="simple" size="small" styleClass="mt-2">Le mot de passe doit avoir au moins 8 caractères</p-message>
                        </div>
                    </section>
                    <section class="mb-4">
                        <label for="confirmPassword" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2" RequiredAsterisk> Confirmation</label>
                        <p-password id="confirmPassword" formControlName="passwordConfirmation" placeholder="Confirmer votre mot de passe" [toggleMask]="true" [fluid]="true" [feedback]="false"></p-password>
                        <div class="error" *ngIf="form.submitted && userForm.controls['password'].errors">
                            <p-message [hidden]="!userForm.controls['password'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Le mot de passe est requis</p-message>
                            <p-message [hidden]="!userForm.controls['password'].errors['minlength']" severity="error" variant="simple" size="small" styleClass="mt-2">Le mot de passe doit avoir au moins 8 caractères</p-message>
                        </div>
                        <div class="error" *ngIf="form.submitted && userForm.errors?.['passwordDifference']">
                            <p-message severity="error" variant="simple" size="small" styleClass="mt-2">Les mots de passe sont différents</p-message>
                        </div>
                    </section>
                    <p-button label="Réinitialiser" styleClass="w-full" type="submit"></p-button>
                </form>
            </p-fluid>
        </div>
    </div>
    <div class="w-full lg:w-1/2 bg-indigo-100 text-center hidden lg:flex max-h-screen image-right">
        <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg')"></div>
    </div>
</div>
