<div class="lg:w-1/2 w-full p-6 left-side scrollbar-off">
    <div class="mt-12 flex flex-col items-center w-full">
        <app-logo />
        <app-configurable-form [structure]="forgotPasswordFormStructure" (onCancel)="cancel()" (onFormSubmit)="submit($event)" #formComponent> </app-configurable-form>
        <div class="flex justify-center w-full gap-2">
            <p-button outlined label="Accueil" styleClass="w-full sm:w-auto" (onClick)="router.navigate(['/'])"></p-button>
            <p-button label="Soummettre" styleClass="w-full sm:w-auto" (onClick)="formComponent.onSubmit()"></p-button>
        </div>
    </div>
</div>
