<div class="col-span-12 p-2 md:p-20" style="border-radius: 20px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #efe1af 0%, #c3dcfa 100%)">
    <div class="flex flex-col justify-center items-center text-center px-4 py-4 md:py-0">
        <div class="text-gray-900 mb-2 text-3xl font-semibold">Sir Isaac Newton</div>
        <span class="text-gray-600 text-2xl">Propriétaire</span>
        <p class="text-gray-900 sm:line-height-2 md:line-height-4 text-2xl mt-6" style="max-width: 800px">
            “Passionné et expert dans son domaine, ce professeur dédie son savoir à offrir un apprentissage clair et engageant. Pédagogue et à l'écoute, il accompagne chaque élève vers la réussite avec bienveillance. Son approche dynamique et
            interactive rend chaque leçon motivante et accessible.”
        </p>
        <img class="mt-6" [src]="'assets/latestBlack.svg'" alt="logo" width="150" />

        <!-- <img src="assetsd" class="mt-6" alt="Company logo" /> -->
    </div>
</div>
<div class="mb-20 p-2 md:p-20">
    <div class="flex flex-col justify-center items-center text-center px-4 py-4 md:py-0">
        <app-profile></app-profile>
    </div>
</div>
<!-- <app-personnal-infos [canEdit]="false" [userToDisplay]="teacherProfile"></app-personnal-infos> -->
<!-- <app-adresses-list></app-adresses-list>
    <app-formations-list></app-formations-list>    -->
