<div class="card mt-4">
    <div class="flex gap-4">
        <h3>Mes formations</h3>
        @if (canEdit()) {
            <p-button icon="pi pi-plus" (onClick)="open()"></p-button>
        }
    </div>

    @for (formation of formations(); track formation.id) {
        <app-formation [formation]="formation" [canEdit]="canEdit()"></app-formation>
    }
</div>
@if (visibleRight()) {
    <app-modal-edit-or-add-formation (onClose)="close()" [updateOrAdd]="'add'" [(visibleRight)]="visibleRight"></app-modal-edit-or-add-formation>
}
