<div class="min-h-screen flex flex-wrap justify-center">
    <div class="w-full lg:w-1/2 p-6 left-side scrollbar-off">
        <div class="mt-12 flex flex-col items-center w-full">
            <h1 class="text-2xl xl:text-3xl font-extrabold">Bienvenu(e)</h1>

            <p-fluid class="flex justify-center">
                <div class="flex flex-col items-center justify-center" class="w-full sm:w-4/5 mt-8 md:w-3/5">
                    <div class="gap-4 flex flex-col items-center">
                        <!-- <div class="flex justify-center items-center border-2 border-pink-500 rounded-full" style="height: 3.2rem; width: 3.2rem">
                            <i class="pi pi-fw pi-success !text-2xl text-pink-500"></i>
                        </div> -->
                        <h1 class="text-surface-900 dark:text-surface-0 font-bold text-5xl mb-2">Chez Skill Hive</h1>
                        <span class="text-surface-600 dark:text-surface-0 font-semibold text-3xl mb-2">Votre compte a été crée avec succès.</span>
                        <span class="text-muted-color mb-8" RequiredAsterisk>Pensez à l'activer (regardez les emails indésirables).</span>
                        <img src="https://primefaces.org/cdn/templates/sakai/auth/asset-error.svg" alt="Error" class="mb-8" width="80%" />
                        <div class="col-span-12 mt-8 text-center">
                            <a pButton label="Connexion" [routerLink]="'/auth/login'" severity="success"></a>
                        </div>
                    </div>
                </div>
            </p-fluid>
        </div>
    </div>
    <div class="w-full lg:w-1/2 bg-indigo-100 text-center hidden lg:flex max-h-screen image-right">
        <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg')"></div>
    </div>
</div>
