<p-drawer [visible]="visibleRight()" position="right" closable="true" [modal]="true" (onHide)="close()" class="bg-black" styleClass="!w-full md:!w-100 lg:!w-[50rem]">
    <div class="flex flex-col items-center justify-center">
        <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
            <div class="text-center">
                <img src="https://tutor.berlin/images/logos/878dc2a9-ae9e-4749-a9f6-72522672c989-small.png" alt="logo" class="mb-8 w-16 shrink-0 mx-auto" />
                <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Créez votre compte</div>
                <span class="text-muted-color font-medium">Renseignez vos coordonnées</span>
            </div>

            <p-fluid>
                <section class="flex flex-col w-full mb-0"></section>
                <form class="flex" [formGroup]="userForm" (ngSubmit)="userForm.valid && submit()" #form="ngForm">
                    <div class="card flex flex-col gap-6 w-full">
                        <div class="font-semibold text-xl">Ajouter une adresse</div>
                        <div class="flex flex-col md:flex-row gap-6">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="streetNumber" RequiredAsterisk>N° de rue</label>
                                <input pInputText id="streetNumber" type="text" formControlName="streetNumber" />
                                <div class="error" *ngIf="form.submitted && userForm.controls['streetNumber'].errors">
                                    <p-message [hidden]="!userForm.controls['streetNumber'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Ce champs est requis</p-message>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="street" RequiredAsterisk>Rue</label>
                                <input pInputText id="street" type="text" formControlName="street" />
                                <div class="error" *ngIf="form.submitted && userForm.controls['street'].errors">
                                    <p-message [hidden]="!userForm.controls['street'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Ce champs est requis</p-message>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row gap-6">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="streetLine2" RequiredAsterisk>Complement d'adresse</label>
                                <input pInputText id="streetLine2" type="text" formControlName="streetLine2" />
                                <div class="error" *ngIf="form.submitted && userForm.controls['streetLine2'].errors">
                                    <p-message [hidden]="!userForm.controls['streetLine2'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Ce champs est requis</p-message>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="city" RequiredAsterisk>Ville</label>
                                <input pInputText id="city" type="text" formControlName="city" />
                                <div class="error" *ngIf="form.submitted && userForm.controls['city'].errors">
                                    <p-message [hidden]="!userForm.controls['city'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Ce champs est requis</p-message>
                                </div>
                                <div class="error" *ngIf="form.submitted && userForm.errors?.['passwordDifference']">
                                    <p-message severity="error" variant="simple" size="small" styleClass="mt-2">Les mots de passe sont différents</p-message>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row gap-6">
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="postalCode" RequiredAsterisk>Code postal</label>
                                <input pInputText id="postalCode" type="text" formControlName="postalCode" />
                            </div>
                            <div class="flex flex-wrap gap-2 w-full">
                                <label for="postalCode" RequiredAsterisk>Code postal</label>
                                <input pInputText id="postalCode" type="text" formControlName="postalCode" />
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-2">
                            <label for="addressType" RequiredAsterisk>Type d'adresse</label>
                            <input pInputText type="text" id="addressType" rows="4" formControlName="addressType" />
                            <div class="error" *ngIf="form.submitted && userForm.controls['addressType'].errors">
                                <p-message [hidden]="!userForm.controls['addressType'].errors['required']" severity="error" variant="simple" size="small" styleClass="mt-2">Ce champs est requis</p-message>
                            </div>
                        </div>

                        <div class="col-span-12 mt-8 text-center">
                            <p-button label="Inscription" type="submit" severity="success" />
                        </div>
                    </div>
                </form>
            </p-fluid>
        </div>
    </div>
</p-drawer>
