/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

* {
    user-select: none; /* Prevents text selection */
    caret-color: transparent;
}
// prevent selection caret from being visible
input,
textarea {
    caret-color: auto;
}

.scrollbar-off {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
