<div class="card flex flex-col md:flex-row md:justify-between md:items-center mb-4">
    <div class="flex gap-2">
        <p-button class="btn-header" severity="info" (onClick)="dayView()">Jour</p-button>
        <p-button class="btn-header" severity="info" (onClick)="weekView()">Semaine</p-button>
        <p-button class="btn-header" severity="info" (onClick)="monthView()">Mois</p-button>
    </div>
    <div class="flex gap-2">
        <p-button (onClick)="getToday()" severity="warn">Aujourd'hui</p-button>
        <p-button (onClick)="prev()" class="control-btn" icon="pi pi-angle-left"> </p-button>
        <p-button (onClick)="next()" class="control-btn" icon="pi pi-angle-right"> </p-button>
    </div>
</div>
<full-calendar [options]="calendarOptions" #calendar [events]="visibleEvents()">
    <ng-template #eventContent let-arg class="custom-event">
        <div [ngClass]="['custom-event', arg.event.extendedProps?.slot?.studentId ? 'booked' : 'available']">
            <b *ngIf="!!arg.event.title" class="event-title">
                {{ arg.event.title }}
            </b>

            <div class="event-image" *ngIf="arg.event.extendedProps?.slot?.imgUrl">
                <img [src]="arg.event.extendedProps?.slot?.imgUrl" width="50" height="50" />
            </div>

            <ng-container *ngIf="arg.event.extendedProps?.slot?.['studentId']; else availableSlot">
                <div class="slot-content">
                    <img [src]="arg.event.extendedProps?.slot?.studentImgUrl" width="24" height="24" />
                    <span class="student-name">
                        {{ arg.event.extendedProps?.slot?.studentFirstName }}
                        {{ arg.event.extendedProps?.slot?.studentLastName }}
                    </span>
                </div>
                <div class="event-type">
                    <span>Type : </span>
                    <span>{{ arg.event.extendedProps?.typeHelp | helpType }}</span>
                </div>
            </ng-container>

            <ng-template #availableSlot>
                <div class="availability-info">
                    <span>Créneau disponible</span>
                    <div class="pricing">
                        <span
                            [ngClass]="{
                                'original-price': arg.event.extendedProps?.slot?.price !== arg.event.extendedProps?.slot?.discountedPrice,
                                'unique-price': arg.event.extendedProps?.slot?.price === arg.event.extendedProps?.slot?.discountedPrice
                            }"
                        >
                            {{ arg.event.extendedProps?.slot?.price }} €
                        </span>
                        <span class="new-price" *ngIf="arg.event.extendedProps?.slot?.price !== arg.event.extendedProps?.slot?.discountedPrice"> {{ arg.event.extendedProps?.slot?.discountedPrice }} € </span>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
</full-calendar>

<app-modal-create-appointment *ngIf="showCreateAppointmentModal()" [(visible)]="showCreateAppointmentModal" [appointment]="selectedSlot()" (onSubmitted)="loadSlot()"> </app-modal-create-appointment>
<app-modal-edit-appointment *ngIf="showEditAppointmentModal()" [(visible)]="showEditAppointmentModal" [appointment]="selectedAppoitment()" (onSubmitted)="loadSlot()"> </app-modal-edit-appointment>
